/*
* @Author: lenovo
* @Date:   2017-12-12 19:33:56
* @Last Modified by:   lenovo
* @Last Modified time: 2017-12-12 20:05:15
*/
.nav-simple{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.nav-simple .logo{
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
    text-decoration: none;
}